.vscode/**
.vscode-test/**
out-test/**
src/**
scripts/**
.github/**
.gitignore
.vscodeignore
tsconfig.json
tsconfig.test.json
test-workspace.env
**/*.map
**/*.ts
**/*.vsix
*.vsix
node_modules/**
!out/**
!bin/**
